@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url("https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans");

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}


.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("backgrounds/Header\ Background.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 40px;
}

.main-head {
    text-align: center;
    margin: 0;
    font-size: 5em;
    font-family: Tangerine;
    color: silver;
}

.main-text {
    color: silver;
    font-size: 25.5px;
    font-family: Metal Mania;
    text-align: center;
    padding-top: 200px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5;
}

.body1 {
    background-color: rgb(53, 52, 52);
}

.vic-tale {
    color: silver;
    font-size: 75px;
    font-family: Tangerine;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    margin: 0 auto;
    padding: 0 1.5;
    
}

.vic-tale1 {
    color: silver;
    text-align: center;
    font-family: Metal Mania;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5;
}
